body{background-color: black;
text-align:center;}

h1{  
	height: 2rem;
	color:red;
 }
 
.titlePos{
	position:absolute;
  	top:30%; 
  	left:34%;
}

.alert{ 
	text-align:left;
	top:1px;
	width:50%;
	position:relative;
	border:1px solid transparent;
	z-index:1;
}

.alert-danger{
	color:#721c24;
	background-color:#f8d7da;
	border-color:#f5c6cb}

.alert-dismissible{padding-right:10rem}

div{  margin: 0 auto;} 

input{  width:80%; }


.inputPos{
    position:absolute;
  	top:40%; 
 	left:10%;
 	right:10%;

}