.h1Pos{
	position:fixed; /*固定位置定位*/
  	top:4%; 
  	left:34%;
}

.inputPos{
	position:fixed; /*固定位置定位*/
  	top:14%; 
 	left:10%;
 	right:10%;

}

.panel-default{
	
	
}
.panel-heading{
	text-align: left;
	height: 10%;
	color:black;
	border-color: black;
	border-style: solid;
	border-width: 0.1px;
	background-color:orange; 
}
.panel-title{
padding-left:1rem;
color: black;

}
.panel-body{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	background-color:white; 

}


.pos{
	width:60%;
	margin-top: 12%;

}
.tdicon{
	width:15%;
}
.tdcontent{
	text-align: left;
	padding-left:1rem;
	width:70%;
}