<!doctype html>
<html >
  <head>

    <!--  CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/indexpage.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/resultpage.css' %}" type="text/css" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/ajax.js' %}" ></script>

    <title>Web Security Checker</title>
   
  </head>

  <body>

    <h1 class="titlePos">Web Security Checker</h1>
   <p>
    
    
    <div class="inputPos">
        <form action="" method="POST">
          <input type="text" placeholder="Please enter an URL" name="URL_input" aria-describedby="basic-addon1">
          <button type="submit" class="btn btn-warning">Enter</button>
        </form >
        <form name="askresult" method="POST">
          <input type="hidden" value="askresult" id="askresult" name="ask">
        </form >
      
    </div>

    <div class="panel-group pos" >

       <div class="panel panel-default">
        <h4 class="panel-title URL-title">
          Url: {{url}}
        </h4>
        
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"  href="#collapseOne" id="SC_title">
              Behavior Report
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body ">
            <table class="table table-hover">
          
                <tr>
                   <td class="tdicon " id="SC_isMining_icon" ><div  class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  <td class="tdtitle ">Mining</td>
                  <td class="tdcontent "><p id="SC_isMining"></p></td>
                </tr>

                <tr>
                  <td class="tdicon" id="SC_miningType_icon" >   </td>
                  <td class="tdtitle ">Mining Type</td>
                  <td class="tdcontent"><p id="SC_miningType"></p></td>
                </tr>
                <tr>
                  <td class="tdicon " id="SC_hasAutoDownload_icon"><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  <td class="tdtitle ">Auto Download</td>
                  <td class="tdcontent "><p id="SC_hasAutoDownload"></p></td>
                </tr>
                <tr>
                 <td class="tdicon " id="SC_hasPopUp_icon" ><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  <td class="tdtitle ">POP Up</td>
                  <td class="tdcontent "><p id="SC_hasPopUp"></p></td>
                </tr>
                <tr>
                   <td class="tdicon" id="SC_hasHiddenObject_icon"><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  <td class="tdtitle "> Hidden Object</td>
                  <td class="tdcontent "><p id="SC_hasHiddenObject"></p></td>
                </tr>
                <tr>
                   <td class="tdicon " id="SC_hasNotification_icon"><div  class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  <td class="tdtitle "> Notification</td>
                  <td class="tdcontent "><p id="SC_hasNotification"></p></td>
                </tr>
                <tr>
                   <td class="tdicon " id="SC_hasHardwareAccess_icon" ><div  class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  <td class="tdtitle "> Hardware Access</td>
                  <td class="tdcontent "><p id="SC_hasHardwareAccess"></p></td>
                </tr>

            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"  href="#collapseTwo" id="BL_title">
               Blacklist checker
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">

              <table class="table table-hover">

                <tr>
                   <td class="tdicon " id="BL_maliciousType_icon" ><div  class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  <td class="tdtitle ">Malicious Type</td>
                  <td class="tdcontent "><p id="BL_maliciousType"></p></td>
                </tr>
              
              </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"  href="#collapseThree" id="BS_title">
               Browser simulator
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
             <table class="table table-hover table-borded">
              
                <tr>
                  <td class="tdicon "  id="BS_cpu_icon" ><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  <td class="tdtitle ">CPU</td>
                  <td class="tdcontent "><p id="BS_cpu"></p></td>
                </tr>
                <tr>
                  <td class="tdicon"  id="BS_mem_icon"><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  <td class="tdtitle ">Memory</td>
                  <td class="tdcontent "><p id="BS_mem"></p></td>
                </tr>
                <tr>

                  <td class="tdicon" id="BS_viewfilename_icon" ><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  <td class="tdtitle">Image</td>
                  <td class="tdcontent" ><p id="BS_viewfilename" >loading ... </p></td>

                </tr>
              
  
            </table>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>


