<!doctype html>
<html >
  <head>

    <!--  CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/indexpage.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/resultpage.css' %}" type="text/css" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <title>Web Security Checker</title>
    <script language="JavaScript">

      function myrefresh() {
        window.location.reload();
      }
      setTimeout('myrefresh()', 30000); //指定30秒刷新一次
    </script>
  </head>

  <body>

    <h1 class="titlePos">Web Security Checker</h1>
   <p>
    <div class="inputPos row">
      <div class="col">
        <input class="form-control" type="url" placeholder="Please enter an URL" aria-label="URL" aria-describedby="basic-addon1">
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-warning">Enter</button>
      </div>
    </div>
  <p>
  <p>
  <div class="report-title" style="color:yellow;">
  {{  url }}
  </div>

    <div class="panel-group pos" >

       <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"  href="#collapseOne">
              Behavior Report
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body ">
            <table class="table table-hover">
          
                <tr>
                  {% if SourceCodeHandler.isMining  == None %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% elif SourceCodeHandler.isMining  == False %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="safe" width="20px" height="20px" ></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/x.png' %}" alt="warning" width="20px" height="20px" ></td>
                  {% endif %}

                  <td class="tdtitle ">Mining</td>
                  <td class="tdcontent">{{SourceCodeHandler.isMining }}</td>
                </tr>

                <tr>
                  <!--
                  {% if SourceCodeHandler.MiningType == "" %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% elif SourceCodeHandler.MiningType == "" %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="success" width="25px" height="20px" ></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/x.png' %}" alt="fault" width="40px" height="30px" ></td>
                  {% endif %} -->
                  <td class="tdicon">   </td>
                  <td class="tdtitle ">Mining Type</td>
                  <td class="tdcontent">{{SourceCodeHandler.MiningType }}</td>
                </tr>
                <tr>
                  {% if SourceCodeHandler.isAutoDownload == None %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% elif SourceCodeHandler.isAutoDownload == False %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="safe" width="20px" height="20px" ></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/x.png' %}" alt="fault" width="20px" height="20px" ></td>
                  {% endif %}

                  <td class="tdtitle">AutoDownload</td>
                  <td class="tdcontent">{{SourceCodeHandler.isAutoDownload }}</td>
                </tr>
                <tr>
                  {% if SourceCodeHandler.hasPopUp == None %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% elif SourceCodeHandler.hasPopUp == False %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="safe" width="20px" height="20px" ></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/x.png' %}" alt="fault" width="20px" height="20px" ></td>
                  {% endif %}

                  <td class="tdtitle">Pop Up</td>
                  <td class="tdcontent">{{SourceCodeHandler.hasPopUp }}</td>
                </tr>
                <tr>
                  {% if SourceCodeHandler.hasHiddenObject == None %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% elif SourceCodeHandler.hasHiddenObject == False %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="safe" width="20px" height="20px" ></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/x.png' %}" alt="fault" width="20px" height="20px" ></td>
                  {% endif %}

                  <td class="tdtitle">Hidden Object</td>
                  <td class="tdcontent">{{SourceCodeHandler.hasHiddenObject }}</td>
                </tr>
                <tr>
                  {% if SourceCodeHandler.hasNotification == None %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% elif SourceCodeHandler.hasNotification == False %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="safe" width="20px" height="20px" ></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/x.png' %}" alt="fault" width="20px" height="20px" ></td>
                  {% endif %}
                 
                  <td class="tdtitle ">Notification</td>
                  <td class="tdcontent">{{SourceCodeHandler.hasNotification }}</td>
                </tr>
                <tr>
                  {% if SourceCodeHandler.hasHardwareAccess == None  %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% elif SourceCodeHandler.hasHardwareAccess == "" %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="safe" width="20px" height="20px"></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/x.png' %}" alt="fault" width="20px" height="20px" ></td>
                  {% endif %}

                  <td class="tdtitle">HardwareAccess</td>
                  <td class="tdcontent">{{SourceCodeHandler.hasHardwareAccess }}</td>
                </tr>

            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"  href="#collapseTwo">
              Blacklist checker
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">

              <table class="table table-hover">

                <tr>
                  {% if BlacklistResult.maliciousType == "" %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="success" width="20px" height="20px"></td>
                  {% endif %}
                  <td class="tdtitle">malicious Type</td>
                  <td class="tdcontent">{{BlacklistResult.maliciousType}}</td>
                </tr>
              
              
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"  href="#collapseThree">
               Browser simulator
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
             <table class="table table-hover table-borded">
              
                <tr>
                  {% if BrowserSimulatorResult.CPU == 0 %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% elif BrowserSimulatorResult.CPU >  0 %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="success" width="20px" height="20px"></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/x.png' %}" alt="fault" width="20px" height="20px" ></td>
                  {% endif %}
                  <td class="tdtitle ">CPU</td>
                  <td class="tdcontent "> {{ BrowserSimulatorResult.CPU }}</td>
                </tr>
                <tr>
                  {% if BrowserSimulatorResult.MEM == 0 %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% elif BrowserSimulatorResult.MEM > 0 %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="success" width="20px" height="20px"></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/x.png' %}" alt="fault" width="20px" height="20px" ></td>
                  {% endif %}
                  <td class="tdtitle ">Memory</td>
                  <td class="tdcontent "> {{ BrowserSimulatorResult.MEM }}</td>
                </tr>
                <tr>
                  {% if  BrowserSimulatorResult.Image == "" %}
                  <td class="tdicon "><div class="spinner-border spinner-border-sm text-primary" role="status" ><span class="sr-only"></span></div></td>
                  {% else %}
                  <td class="tdicon"><img src="{% static 'img/checks.png' %}" alt="success"  width="20px" height="20px"></td>
                  {% endif %}
                  <td class="tdtitle">{{BrowserSimulatorResult.Image}}</td>
                  <td class="tdcontent "><img src="{% static 'img/screenshot/' %}{{BrowserSimulatorResult.viewfilename}}"
                   alt="{% static 'img/' %}{{BrowserSimulatorResult.viewfilename}} " width="20px" height="20px"></td>
                </tr>
              
  
            </table>
          </div>
        </div>
      </div>

    </div>  
  </body>
</html>


